<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <div class="container align-center">
            <div class="row align-content-between text-center p-4">
                <div class="col">
                    <img src="{{ image }}" alt="chandelier_logo">
                </div>
                <div class="col">
                    <h2>Chandelier.com.mx</h2>
                </div>
                <div class="col">
                    {{ date }}
                </div>
            </div>
            <div class="row">
                <p>
                    folio: {{ id_quote }}
                </p>
            </div>
            <div class="row mb-4">
                <table class="table table-bordered table-striped-columns">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ name }}</td>
                            <th>Telefono</th>
                            <td>{{ phone }}</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>{{ last_name }}</td>
                            <th>Correo</th>
                            <td>{{ email }}</td>
                        </tr>
                        <tr>
                            <th>Direccion</th>
                            <td>{{ address }}</td>
                            <th>Ciudad</th>
                            <td>{{ city }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <p>
                    Hola!, nos comunicamos con usted para hacerle constar que
                    hemos recibido y prosesado su solicitud de cotizacion.
                </p>
                <p>
                    Deacuerdo con esta nos permtimos cotizar por usted los siguientes
                    productos:
                </p>
            </div>
            <div class="row mb-5">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Tipo</th>
                            <th>Referencia</th>
                            <th>Tematica</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services_info %}
                            <tr>
                                <td>{{ service_id }}</td>
                                <td>{{ service_size }}</td>
                                <td>{{ service_name }}</td>
                                <td>{{ service_theme }}</td>
                                <td>{{ service_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="2">Condiciones</th>
                            <td>Total Bruto</td>
                            <td>${{ total_bruto }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tematica del evento</td>
                            <td>{{ tematica }}</td>
                            <td>Descuento</td>
                            <td>${{ descuento }}</td>
                        </tr>
                        <tr>
                            <td>Dia del evento</td>
                            <td>{{ dia_evento }}</td>
                            <td>Subtotal</td>
                            <td>${{ sub_total }}</td>
                        </tr>
                        <tr>
                            <td>Hora de inicio</td>
                            <td>{{ hora_inicio }}</td>
                            <td>Transporte</td>
                            <td>${{ transporte }}</td>
                        </tr>
                        <tr>
                            <td>Hora de fin</td>
                            <td>{{ hora_fin }}</td>
                            <td>IVA 12%</td>
                            <td>${{ iva }}</td>
                        </tr>
                        <tr>
                            <td>Otros</td>
                            <td>${{ otros }}</td>
                            <td><strong>Total</strong></td>
                            <td><strong>${{ total_final }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Observaciones:</td>
                            <td>
                              {{ observaciones }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <p>Cordialmente,</p>
                <p>Equipo tecnico de Chandelier</p>
            </div>
        </div>
        <footer class="text-center">
            <p>Villa parrilla km3</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>
