{% extends 'base/base_admin.html' %}
{% load static %}{% load crispy_forms_tags %}

{% block title %}Cotizaciones{% endblock %}

{% block content %}
<div class="row">
    <nav aria-label="breadcrumb" class="ml-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_admin' %}">Tablero</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cotizaciones</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h2>Cotizaciones</h2>
                <h5>Bandeja de Entrada</h5>
            </div>
            <div class="container p-3">
                <div class="table-responsive">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="p-2">
                            <label>
                                Mostrar 
                                <select class="datatable-selector">
                                    <option value="1">1</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25" selected="">25</option>
                                </select> 
                                Entradas
                            </label>
                        </div>
                        <div class="search p-2">
                            <input type="search" class="form-control me-2" name="buscador" id="buscador" placeholder="Buscar..">
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Ubicacion</th>
                                <th>Enviado</th>
                                <th>Cotizado</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Ubicacion</th>
                                <th>Enviado</th>
                                <th>Cotizado</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </tfoot>
                        <tbody id="listaObjetos">
                            {% for quote in quotes %}
                                {% if quote.is_on %}
                                <tr class="border-left-success objetos">
                                {% else %}
                                <tr class="border-left-danger objetos">
                                {% endif %}
                                    <td>{{ quote.id }}</td>
                                    <td>{{ quote.name }}</td>
                                    <td>{{ quote.last_name }}</td>
                                    <td>
                                        {% if quote.location != None %}
                                        {{ quote.location }}
                                        {% else %}
                                        <p class="">No especificada</p>
                                        {% endif %}
                                    </td>
                                    <td>{{ quote.created_date|date:"d/m/y" }}</td>
                                    <td>
                                        {% if quote.is_on != True %}
                                            <p class="text-danger">No Cotizado</p>
                                        {% else %}
                                            <p class="text-success">{{ quote.on_date|date:"d/m/y" }}</p>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'quoteInfo_admin' quote.id %}" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a></td>
                                    <td>
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#alertModal{{ quote.id }}"><i class="fas fa-trash"></i></a>
                                        <div class="modal fade" id="alertModal{{ quote.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">¿Está seguro?</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Está seguro de que desea eliminar la cotizacion seleccionada? Se eliminarán el siguientes objetos y sus elementos relacionados:
                                                        <br>
                                                        <small>Cotizacion: {{ quote.id }}</small>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                            Cancelar
                                                        </button>
                                                        <a class="btn btn-danger" href="{% url 'quoteDelete_admin' quote.id %}">Eliminar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="paginationButtons">
                        <!-- Los botones de paginación se generarán aquí -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}