{% extends 'base/base_admin.html' %}
{% load static %}{% load crispy_forms_tags %}

{% block title %}Cotizaciones{% endblock %}

{% block content %}
<div class="row">
    <nav aria-label="breadcrumb" class="ml-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_admin' %}">Tablero</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cotizaciones</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h2>Cotizaciones</h2>
                <h5>Bandeja de Entrada</h5>
            </div>
            <div class="container p-3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Presupuesto</th>
                                <th>Enviado</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Presupuesto</th>
                                <th>Enviado</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for quote in quotes %}
                                <tr class="border-left-info">
                                    <td>{{ quote.id }}</td>
                                    <td>{{ quote.name }}</td>
                                    <td>{{ quote.last_name }}</td>
                                    <td>${{ quote.budget }}</td>
                                    <td>{{ quote.created_date }}</td>
                                    <td><a href="{% url 'quoteInfo_admin' quote.id %}" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a></td>
                                    <td>
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#alertModal{{ quote.id }}"><i class="fas fa-trash"></i></a>
                                        <div class="modal fade" id="alertModal{{ quote.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">¿Está seguro?</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Está seguro de que desea eliminar la cotizacion seleccionada? Se eliminarán el siguientes objetos y sus elementos relacionados:
                                                        <br>
                                                        <small>Cotizacion: {{ quote.id }}</small>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                            Cancelar
                                                        </button>
                                                        <a class="btn btn-danger" href="{% url 'quoteDelete_admin' quote.id %}">Eliminar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}