{% extends 'base/base_admin.html' %}
{% load static %}{% load crispy_forms_tags %}{% load humanize %}

{% block title %}Informacion{% endblock %}

{% block content %}
<div class="row">
    <nav aria-label="breadcrumb" class="ml-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_admin' %}">Tablero</a></li>
            <li class="breadcrumb-item"><a href="{% url 'quote_admin' %}">Cotizaciones</a></li>
            <li class="breadcrumb-item active" aria-current="page">Informacion</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h2>Cotizacion {{ quote.id }}</h2>
                <p><strong>Fecha de envio:</strong> {{ quote.created_date }}</p>
            </div>
            <div class="card-body">
                <div class="row border-bottom mb-4">
                    <div class="col-md-6">
                        <h3>Datos personales</h3>
                        <p><strong>Nombre:</strong> {{ quote.name }}</p>
                        <p><strong>Apellido:</strong> {{ quote.last_name }}</p>
                        <p><strong>Correo:</strong> {{ quote.email }}</p>
                        <p><strong>Teléfono:</strong> {{ quote.phone }}</p>
                    </div>
                    
                    <div class="col-md-6">
                        <h3>Detalles del evento</h3>
                        <p><strong>Tipo de evento:</strong> {{ quote.theme }}</p>
                        <p><strong>Fecha del evento:</strong> {{ quote.date_of_event }}</p>
                        <p><strong>Hora de inicio:</strong> {{ quote.start_time }}</p>
                        <p><strong>Hora de finalización:</strong> {{ quote.end_time }}</p>
                        <p><strong>Número de personas:</strong> {{ quote.people }}</p>
                    </div>
                </div>
                <div class="row border-bottom mb-4">
                    <div class="col-md-6">
                        <h3>Detalles de servicios</h3>
                        <p><strong>Detalles del servicio:</strong> {{ quote.service_detail.all|join:" - " |intcomma }}</p>
                        <p><strong>Presupuesto extra:</strong> {{ quote.budget }}</p>
                    </div>
                    
                    <div class="col-md-6">
                        <h3>Opciones de cotización</h3>
                        <p><strong>Contactar por llamada:</strong> {{ quote.quote_by_phone|yesno:"Si,No" }}</p>
                        <p><strong>Contactar por correo:</strong> {{ quote.quote_by_email|yesno:"Si,No" }}</p>
                        <p><strong>Contactar por mensaje:</strong> {{ quote.quote_by_sms|yesno:"Si,No" }}</p>
                    </div>
                </div>
                <div class="row border-bottom mb-4">
                    <div class="col">
                        <h3>Comentarios del cliente</h3>
                        <p><strong>Mensaje:</strong> {{ quote.message }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Total por servicios: ${{ quote.total_service|intcomma }}</h3>
                        <h4>{{ total_text }} pesos</h4>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'pdf_view' quote.id %}" target="_blank" class="btn btn-info btn-sm">
                    <i class="fa-solid fa-magnifying-glass fa-sm text-white-50"></i>
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    Ver Cotizacion
                </a>
                <a href="{% url 'pdf_download' quote.id %}" class="btn btn-success btn-sm">
                    <i class="fas fa-download fa-sm text-white-50"></i>
                    Descargar Cotizacion
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}